.scrollTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: var(--transition);
  opacity: 0.75;
  background: transparent;
  border: none;
}
.scrollTop > * {
  fill: var(--clr-primary-5);
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
}
.scrollTop:is(:hover, :focus-visible) {
  opacity: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
